# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# # Virtual environments
# env/
# venv/
# ENV/
# .venv/
# .ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Django stuff:
*.log
*.pot
*.py[cod]
*.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Pytest
.cache
*.pytest_cache

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Bandit security analysis
bandit.yaml

# Environments and dependencies
# .env
# .venv
# env/
# venv/
# ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs and editors
.vscode/
.idea/
*.swp
